@model EventuresWebApp.Web.ViewModels.Events.AllEventsViewModel

@{
    ViewData["Title"] = "All";
}

<h1 class="text-center">All Events</h1>
<hr class="eventures-bg-color hr-3 mt-3" />
<table class="table">
    <thead>
        <tr>
            <th class="font-weight-bold" scope="col">#</th>
            <th class="font-weight-bold" scope="col">Name</th>
            <th class="font-weight-bold" scope="col">Start</th>
            <th class="font-weight-bold" scope="col">End</th>
            <th class="font-weight-bold" scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
    @for (int i = 0; i < Model.Events.Count(); i++)
    {
        var eventViewModel = Model.Events.ToList()[i];
        <tr>
            <th scope="row">@(i + 1)</th>
            <td>@eventViewModel.Name</td>
            <td>@eventViewModel.Start</td>
            <td>@eventViewModel.End</td>
            <td>
                <form class="form-inline" method="post" asp-controller="Orders" asp-action="Order">
                    <div class="form-group">
                        <label class="label" asp-for="@eventViewModel.TicketsCount"></label>
                        <input class="form-control ml-2" name="ticketsCount" asp-for="@eventViewModel.TicketsCount" value="">
                        <span asp-validation-for="@eventViewModel.TicketsCount" class="text-danger"></span>
                        <input type="hidden" name="eventId" value="@eventViewModel.Id"/>
                    </div>
                    <div class="ml-2">
                        <button type="submit" class="btn eventures-bg-color">Order</button>
                    </div>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>
<hr class="eventures-bg-color hr-3 mt-3" />

